html, body {
    margin: 0;
    padding: 0;
}

.red-color{
    color: red !important;
}

.under_construction {
    font-family: rkt;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-top:64px;
}

#menu {
    margin: 0;
    padding: 0;
    background-color: #0e2426;
    text-align: center;
}

#menu ul {
    margin: 0;
    padding: 8px 0;
    background-color: #0e2426;
    text-align: center;
    height: auto;
}

#logo-icon {
    margin:0;
    margin-top: -4px;
    margin-right: -4px;
    padding: 0;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

#menu ul li {
    margin: 0;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    padding: 0 18px;
    letter-spacing: 0.18rem;
}

#menu ul a {
    color: white;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-family: rkt;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    height: 24px;
    line-height: 24px;
}

#menu ul a:hover {
    text-decoration: underline;
}

#header {
    margin: 0;
    padding: 32px 0;
    width: 100%;
    background-color: white;
    background-image: linear-gradient(rgba(44,52,80,0.5), rgba(44,62,80,0.5));
    height: auto;
}

#logo {
    width: 150px;
    margin: 0 auto;
    height: 156px;
    display: inline-block;
    vertical-align: middle;
}

#logo img {
    width: 150px;
    height: 150px;
}

#header-div {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    background-image: linear-gradient(rgba(44,52,80,0.5), rgba(44,62,80,0.5));
    height: auto;
    position: relative;
    text-align: center;
}

#logo-title {
    font-family: "Limelight-R";
    font-size: 128px;
    color: white;
    vertical-align: middle;
}

.logo-small{
    font-family: "Limelight-R";
    font-size: 48px;
    color: white;
    display: inline-block;
}